## exclude listing, logs and deps
Listings/
## exclude object files and executable
Objects/
## exclude DebugConfig
DebugConfig/
## exclude RTE
RTE/
## exclude CAN due to copyright
Source/CAN

## a user define gui configuration 
*.uvguix.*

## project gui configuration
*.uvprojx

*.uvoptx


## event record during  debug
*.scvd
